/* Globals */
* {box-sizing: border-box;}
html {
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 20px; */
    font-size: 16px;
    background-color: #e6e6e6;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
}
body {
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    word-break: break-all;
}
h1, h2, h3, h4, p, form, figure, button, ul, ol, li {
    margin: 0;
    padding: 0;
}
ol, ul {
    /* padding-left: 1em; */
    list-style-type: none;
}
h2, h3, h4 {
    margin-bottom: .5em;
}
p, ol, ul, hr {
    margin-bottom: 1em;
}
p:last-child, ul:last-child, ol:last-child, li:last-child, .form-group:last-child {
    margin-bottom: 0;
}
nav, main {
    padding: 10px;
}
img {max-width: 100%;}
hr {
    border: 0;
    border-bottom: 1px solid #ececec;
}

/* Nav */
nav {
    margin-bottom: 20px;
    /* background: #e6e6e6; */
}
nav {
    display: grid;
    grid-template-columns: 25px 1fr max-content;
    grid-gap: 5px;
}

/* Profile */
.box {
    display: inline-block;
    background-color: #fff;
    position: relative;
    /* border-radius: 100%; */
}
.small {
    width: 25px;
    height: 25px;
}
.medium {
    width: 50px;
    height: 50px;
}
.large {
    width: 111px;
    height: 111px;
}
section {
    margin-bottom: 1em;
    border: 1px solid #c5c5c5;
    background: #fff;
    padding: 10px;
}
#description {
    white-space: pre-wrap;
    word-break: normal;
    /* border: 0;
    padding: 0;
    background: transparent; */
    font-family: Courier,  'Courier New', monospace;
    font-size: 14px;
    line-height: 20px;
}
/* Tabs */
#tabs {
    margin-bottom: 1em;
}
#tabs a {
    border: 1px solid transparent;
    padding: 4px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
}
#edit-tab-content, #favorites-tab-content {display: none;}
#fav-amount {font-size: 16px; font-weight: normal;}
.current-tab {
    border: 1px solid #000 !important;
}
/* Shapes */
.shape {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.leaf {background-image: url('../images/leaf.svg');}
.heart {background-image: url('../images/heart.svg');}
.mushroom {background-image: url('../images/mushroom.svg');}
.pebble {background-image: url('../images/pebble.svg');}
.star {background-image: url('../images/star.svg');}
.flower {background-image: url('../images/flower.svg');}
.island {background-image: url('../images/island.svg');}

/* Form */
.form-group {
    margin-bottom: 20px;
}
input[type=text], input[type=password], input[type=email], input[type=url], textarea {
    width: 100%;
    font-size: 100%;
    background:#f7f7f7;
    margin-bottom: 4px;
    padding: 4px;
    border: 0;
    outline: none;
}
select {
    font-size: 100%;
    width: 100%;
}
input[type=color], button {
    font-size: 100%;
}
input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}
.form-label {
    border: 0;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px !important;
}
@media(max-width: 535px) {
    .form-label {
        padding: 5px;
        background: #f0f0f0;
    }
}
.form-label:hover {
    background-color: #f5f5f5;
}
.form-label::-webkit-input-placeholder {
    font-size: 19px;
    color: #000;
    opacity: 1;
}
.form-label::-moz-placeholder {
    font-size: 19px;
    color: #000;
    opacity: 1;
}
.form-label:-ms-input-placeholder { 
    font-size: 19px;
    color: #000;
    opacity: 1;
}
.form-label:-moz-placeholder {
    font-size: 19px;
    color: #000;
    opacity: 1;
}
textarea {
    min-height: 200px;
    resize: vertical;
    font-family: monospace;
}
/* .regular-button {
    font-size: 16px;
    padding: 2px 4px;
} */
.regular-button {
    font-size: 12px;
    padding: 2px 4px;
}

/* Flash Messages */
.message {
    /* font-style: italic; */
    display: inline-block;
    padding: 4px;
    height: 25px;
    /* margin: 10px; */
    animation: fadeout 1s 1;
    -webkit-animation: fadeout 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; z-index: -1000;}
}

/* Form Globals */
/* button {
    border: 1px solid #000;
    background: #fff;
    font-size: 100%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
} */
/* button:hover {
    background: #f0f0f0;
} */
label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: .5em;
    font-size: 19px;
}

/* Friend Buttons */
/* .add-friend {
    display: inline;
} */
.remove-friend {
    display: inline;
}

/* friends grid */
#friends-section {
    max-width: 300px;
}
#friends {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 100px);
}
#friends a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    height: 100px;
}

.new-block {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 7px;
    margin-bottom: 5px;
    text-decoration: none;
}

/* filtering */

#filters {
    margin-bottom: 5px;
}

.filter {
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    background-color: #fff;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}