/* body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    background: #ffffff;
    color: #1f1209;
}

h1, h2, h3, h4, a, ul, ol, li, p, figure {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold; 
}

h1, h2, h3, h4, ul, ol, p {
    margin-bottom: 1.3em;
}

ol li, ul li {
    list-style-position: inside;
}

ul li {
    list-style-type: none;
}

#blocks div {
    margin-bottom: 1em;
}

#blocks div img, #blocks div video {
    max-width: 100%;
}

#blocks div, img {
padding: 20px;
margin: 0;
display: grid;
color: #3c3cff;
}

p, a, #load-more, #loading {
font-size: 20px;
!important;
text-decoration: none;
}

a:hover {
color: #28286d;
text-decoration: none;
}

img { max-height: 200px; }


#title {
    margin-bottom: 2em;
}

#load-more, #loading {
    width: 100%;
    padding: 2rem;
    border-radius: 50%;
    text-align: center;
    font-size: 50px;
    letter-spacing:-0.06em;
}

#load-more:hover {
    border-radius: 2rem;
} */

/* footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 9998;
    left: 0;
    pointer-events: none;
} */

* { box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

p, a {
    font-size: 16px;
    margin: 2.5em;
    line-height:25px;
}

a:visited {
    color: blue;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: 2px auto;
    display: block;
}

#load-more {
    text-align: center;
    margin: 2em;
    margin-bottom: 3em;
    cursor: pointer;
    display: none;
    padding: 2px;
}

#load-more.able-to-load {
    display: block;
}

#loading.done-loading {
    display: none;
}

#load-more, #loading {
    margin-top: 8px;
    font-size: initial;
    padding: 1em;
    border-radius: 0;
    background: white;
    border: 1px solid rgb(219, 219, 219);
}

#load-more:hover {
    border-radius:0;
}

.block_link, .block_link:visited {
    color: blue;
    display: block;
}

.block_pdf {
    display: block;
    border: 1px solid black;
}
